@{ 
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    }
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <br /> <h3 style="color:#FDBE33">إِنَّمَا يَعْمُرُ مَسَـٰجِدَ ٱللَّهِ مَنْ ءَامَنَ بِٱللَّهِ وَٱلْيَوْمِ ٱلْـَٔاخِرِ وَأَقَامَ ٱلصَّلَوٰةَ وَءَاتَى ٱلزَّكَوٰةَ وَلَمْ يَخْشَ<br /> إِلَّا ٱللَّهَ ۖ فَعَسَىٰٓ أُو۟لَـٰٓئِكَ أَن يَكُونُوا۟ مِنَ ٱلْمُهْتَدِينَ</h3><br />
                <h3 style="color:#FDBE33">
                    AL  Quran
                </h3>
                <p style="color:white">
                    "Only will maintain (the) mosque of Allah (the one) who believes in Allah and the Day the Last, and establishes the prayer<br /> and gives the zakah and not fear except Allah. Then perhaps those, [that] they are the guided ones.”<br />(At-Taubah 9:18)
                </p>
            </div>
            <div class="col-12">
               <br /> <h2>Mosque</h2>
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Mosque","Home")">Mosque</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="single-content">
                    <div class="carousel-text">
                        <h2 style=" color: #FDBE33">Moschee  </h2><br />
                        <div class="sidebar">
                            <div class="sidebar-widget">

                                <div class="text-widget">
                                    <p>
                                    <p style="font-size:22px;color:#FDBE33;">Moschee (Ein Ort, um Ihren Glauben zu überprüfen)</p>
                                    <ul style="font-size:20px;color:black">
                                        <li>
                                            Das Haus Allahs (es ist nicht das
                                            Privateigentum von jemandem)
                                        </li>
                                        <li>
                                            24 Stunden geöffnet
                                        </li>
                                        <li>
                                            Ein Ort, der nicht nur ein Gebetsraum
                                            ist, sondern ein Institut, in dem man
                                            erfährt, was Allah uns im Koran
                                            befohlen hat und wie Muhammad
                                            befolgte dies) صلى هللا عليه وسلم)
                                            (Sunnah).
                                        </li>
                                    </ul><br />
                                    <p style="font-size:22px;color:#FDBE33;">Moschee (Eine Grundschule)</p>
                                    <ul style="font-size:20px;color:black">
                                        <li> Koran & Hadith (Ein Lebenshandbuch)</li>
                                        <li>Getrennte Lerneinheiten für Frauen und Männer.</li>

                                        <li>Islamische Schule für Jungen und Mädchen</li>
                                    </ul><br />
                                    <p style="font-size:22px;color:#FDBE33;">Moschee (Islamische Schule - Beispiel-Plan)</p>
                                    <ul style="font-size:20px;color:black">
                                        <li>
                                            <b>Samstag :</b> Lerntag für Mädchen und
                                            Frauen
                                        </li>
                                        <li>
                                            <b>Sonntag :</b> Lerntag für Jungen und
                                            Männer
                                        </li>
                                    </ul>
                                    </p>
                                    <p style="color:red; font-size:20px;">
                                        Jungen, die älter als 2 Jahre sind,
                                        zählen zur Kategorie der Männer.
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div><hr />

                </div>

            </div>
        </div>
    </div>
</div><!-- Page Header End -->
